{
  // This configuration item is primarily used to indicate that the.eslintrc file is the root level file that Eslint uses within a project, and that ESLint should not search for configuration files outside of this directory
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
  },

  // By default, Eslint uses its built-in Espree parser, which is compatible with standard JavaScript runtimes and versions, and we need to parse ts code into an ESLint-compatible AST, so we use @typescript-eslint/parser here.
  "parser": "@typescript-eslint/parser",

  // This configuration item tells eslint which specified configuration sets we have extended, where:
  // eslint:recommended : This configuration set is a built-in ESLint "recommendation" that opens a small, reasonable set of rules for checking well-known best practices
  // @typescript-eslint/recommended : This configuration set is a typescript-eslint recommendation, which is similar to eslint:recommended, but it enables TS-specific rules
  // @typescript-eslint/eslint-recommended : This configuration set disables eslint:recommended configuration set rules that are already handled by typeScript, preventing conflicts between eslint and typescript.
  // prettier (eslint-config-prettier) turns off all ESLint rules that may interfere with prettier rules, making sure they are placed last so they have a chance to overwrite other configuration sets
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "prettier",
  ],

  "plugins": ["@typescript-eslint", "prettier"],

  "rules": {
    "prettier/prettier": "error", // Opens the rules provided by the prettier plugin, which runs Prettier from within ESLint

    // Turn off the two core ESLint rules that can be problematic when using prettier with the Prettier plugin, see below
    // https://github.com/prettier/eslint-plugin-prettier/blob/master/README.md#arrow-body-style-and-prefer-arrow-callback-issue
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "@typescript-eslint/no-explicit-any": "off",
  },
}
